@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  line-height: 1.7rem;
}

li {
  list-style: none;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.upper-main {
  background: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #1B2838 80%);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
}

.lower-main {
  background: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #1B2838 80%);
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.looking-for {
  background-color: black;
}

.footer {
  background-color: #171a21;
}

.section {
  width: 90%;
  max-width: 55rem;
  margin: 0 auto;
}

.arrow {
  padding: 2rem .5rem;
  font-size: 3rem;
  border: none;
  color: white;
  cursor: pointer
}

.arrow:hover {
  background: linear-gradient( to right, rgba(255, 255, 255, 0.062) 5%,rgba(255, 255, 255, 0.212) 95%);
}

.button-left {
  background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}

.button-right {
  background: linear-gradient( to left, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}

.image-carosel {
  display: flex;
  justify-content: center;
  gap: .3rem;
}

.carosel-box {
  background-color: #c6d4df59;
  width: 15px;
  height: 9px;
  border-radius: 2px;
  cursor: pointer;
}

.carosel-box.active {
  background-color: hsla(202,60%,100%,0.4);
}

.carosel-box:hover {
  background-color: #ffffff57;
}

.trans-btn {
  color: white;
  font-size: 12px;
  line-height: 20px;
  padding: 0 15px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.479);
  border-radius: 2px;
  cursor: pointer;
}

.trans-btn:hover {
  border: 1px solid #ffffff;
}

/* SIDEBAR */
.sidebar {
  position: absolute;
  top: 0;
  left: -15rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  width: 13rem;
}

.sidebar-logo {
  text-align: center;
  letter-spacing: .3rem;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6d4df;
  border-bottom: 1px solid #66c0f4;
}

.sidebar-div {
  display: flex;
  flex-direction: column;
}

.sidebar-div h3 {
  color: #c6d4df;
  font-size: 11px;
  line-height: 16px;
  margin: 7px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none;
}

.sidebar-div a {
  text-decoration: none;
  color: #66c0f4;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  line-height: 12px;
  margin: 7px 0;
  font-size: 13px;
}

.sidebar-div a:hover {
  color: #ffffff;
}

/* HEADER */

header {
  background-color: #171a21;
  color: #b8b6b4;
  font-family: 'Open Sans', sans-serif;
  padding-top: .5rem;
  padding-bottom: 1.8rem;
}

.headers {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: flex-end;
}

.header-bottom {
  display: flex;
}

.header-bottom h1 {
  letter-spacing: .3rem;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: .7rem;
  flex: 1;
  cursor: pointer;
}

.fa-cloudsmith {
  font-size: 3.5rem;
}

.header-nav {
  display: flex;
  align-items: center;
  font-weight: bold;
  flex: 3;
}

.header-nav ul {
  display: flex;
  gap: 1rem;
  font-size: 14px;
}

.header-nav a {
  color: inherit;
  text-decoration: none;
}

.header-nav a:hover {
  color: #ffffff;
}

.install-nav {
  right: 35%;
  display: flex;
  align-items: center;
}

.install-nav ul {
  display: flex;
  font-size: 11px;
  gap: .5rem;
}

.install-nav a {
  color: inherit;
  text-decoration: none;
}

.install-nav a:hover {
  color: #ffffff;
}

.install-nav button {
  background-color: #5c7e10;
  color: #e5e4dc;
  border: none;
  font-size: 11px;
  cursor: pointer;
  padding: 0 .8rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.install-nav button:hover {
  color: #ffffff;
}

/* NavBar */
.nav-bar {
  position: relative;
  background: radial-gradient(farthest-corner at 40px 40px,#4280b3 0%, #2d5585 80%);
}

.nav-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links button {
  background: none;
  border: none;
  cursor: pointer;
  padding: .8rem;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #c6d4df;
  font-weight: bold;
  text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
}

.nav-links button:hover {
  background: radial-gradient(farthest-corner, #67c1f5 0%, #417a9b 100%);
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-search input {
  background-color: #316282;
  border: none;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgb(255, 255, 255 / 20%);
  outline: none;
  height: 27px;
  text-indent: 1rem;
}

.nav-search:hover {
  border: 1px solid #1A9FFF;
}

.nav-search input::placeholder {
  color: #0e1c25;
  font-style: italic;
}

.nav-search button {
  width: 28px;
  height: 28px;
  background-color: #4e99c4;
  color: #595e64;
  font-size: 1.1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.nav-search button:hover {
  background-color: #6eb2da
}

/* Featured */

.featured {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.featured h3 {
  font-size: 14px;
  letter-spacing: .03em;
  margin-bottom: .5rem;
}

.featured-image-container {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: .8rem;
  box-shadow: 0 0 7px 0px #000;
}

.featured-image-container img {
  max-width: 100%;
  max-height: 100%;
}

.featured-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000F18;
  padding-top: 1rem;
  padding-right: 1rem;
}

.featured-info h2 {
  font-size: 24px;
  padding-left: .6rem;
}

#available {
  font-size: 21px;
}

.featured-info p {
  color: #acdbf5;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: .6rem;
}

.featured-images {
  display: flex;
  gap: .8rem;
}

.featured-images img {
  opacity: 0.7;
}

.featured-images img:hover {
  opacity: 1;
}

.featured-imgs-1 {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.featured-imgs-1 img {
  width: 129px;
  height: 69px;
}

.featured-imgs-2 {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.featured-imgs-2 img {
  display: flex;
  flex-direction: column;
  width: 162px;
  height: 69px;
}

.featured-info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .3rem;
}

.fa-windows {
  color: #c6d4df;
}

#featured-left {
  position: absolute;
  left: -3rem;
  top: 33.3%;
}

#featured-right {
  position: absolute;
  top: 33.3%;
  right: -3rem;
}

/* SPECIAL OFFERS */

.special-offers {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.special-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.special-header h3 {
  font-size: 14px;
}

.special-images {
  position: relative;
  display: flex;
  gap: .7rem;
  font-weight: bold;
  margin-bottom: .8rem;
}

.special-1, .special-2, .special-3 {
  box-shadow: 0 0 5px #000000;
}

.special-1 p, .special-2 p {
  letter-spacing: .03em;
  font-size: 14px;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
}

.special-3 {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.special-3 p {
  font-size: 11px;
  color: #283846;
}

.special-image-container img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  cursor: pointer;
}

.special-image-bottom-container-1 {
  background: radial-gradient(farthest-corner, #316481 0%, #173446 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  padding: .6rem;
}

.special-image-bottom-container-2 {
  background-color: #abdaf4;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.special-discounts {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.special-discounts h3 {
  background-color: #4c6b22;
  color: #a4d007;
  line-height: 34px;
  padding: 0 5px;
  font-size: 26px;
}

.special-discounts ul {
  background-color: rgba(20,31,44,0.8);
  padding: 4px 10px 4px 7px;
  font-size: 12px;
  line-height: 13px;
  color: #acdbf5;
}

#strike {
  font-size: 11px;
  color: #577180;
}

#special-left {
  position: absolute;
  left: -3rem;
  top: 40%;
}

#special-right {
  position: absolute;
  right: -3rem;
  top: 40%;
}

/* STEAMDECK */

.steam-deck-images {
  position: relative;
  display: flex;
  gap: .5rem;
}

.steam-deck-images img {
  width: 100%;
  height: 60px;
  cursor: pointer;
}

.steam-deck-images h3 {
  position: absolute;
  top: 30%;
  font-family: "Open sans", sans-serif;
  letter-spacing: .08em;
  right: 17rem;
  font-size: 19px;
}

.steam-deck-images img:hover {
  box-shadow: 0 0 12px #66c0f4;
}

/* BROWSE STEAM */

.browse-steam {
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  font-weight: 300;
}

.browse-steam h3 {
  font-size: 14px;
  margin-bottom: .5rem;
}

.browse-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.browse-btns button {
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  height: 50px;
  border-radius: 3px;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  border: none;
  box-shadow: 0 0 4px #000000;
  cursor: pointer;
}

.browse-btns button:hover {
  background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

/* GAME SELECTOR */

.game-selector nav ul {
  display: flex;
  gap: 1rem;
}

.game-selector nav a {
  font-size: 13px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #4f94bc;
  padding-bottom: .5rem;
}

#selected {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #2a475e;
  font-size: 14px;
  color: #ffffff;
  text-shadow: -1px -1px rgb(0 0 0 / 25%);
  padding: 0 10px;
}

.game-selector nav a:hover {
  color: #ffffff;
}

.game-selector-container {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.game-selector-spacer {
  background-color: rgba( 0, 0, 0, 0.2 );
  padding: .4rem;
  display: flex;
  justify-content: flex-end;
  gap: .2rem;
}

.game-selector-spacer p {
  color: #c6d4df;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.game-selector-game {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  font-family: "Open sans", sans-serif;
  background-color: rgba( 0, 0, 0, 0.2 );
}

.game-selector-game:hover {
  color: #384959;
  background-color: #c6d4df;
  cursor: pointer;
}

.game-selector-game img {
  width: 100%;
  max-height: 100%;
}

.game-info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .3rem;
  padding: .5rem;
}

.game-info-left h5 {
  color: #a3cbec;
  font-size: 14px;
  line-height: 18px;
  font-weight: none;
}

.game-info-left p {
  line-height: 20px;
  font-size: 12px;
  color: #384959;
}

.game-discount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-discount p {
  background-color: #4c6b22;
  color: #a4d007;
  line-height: 18px;
  padding: 0 5px;
  font-size: 14px;
}

.game-selector-game ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 1rem;
  font-size: 12px;
  line-height: 13px;
  color: #acdbf5;
}

/* UNDER 10 */
.under-10 {
  font-family: "Open sans", sans-serif;
}

.under-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.under-header h3 {
  font-size: 14px;
  margin-bottom: .5rem;
  color: #ffffff;
  letter-spacing: .03em;
}

.under-header-btns {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.under-games {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  margin-bottom: .8rem;
}

.under-games img {
  max-width: 100%;
  max-height: 100%;
}


#under-left, #under-right {
  position: absolute;
}

#under-left {
  top: 15%;
  left: -3rem;
}

#under-right {
  top: 15%;
  right: -3rem;
}

.under-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 5px #000000;
}

.under-game-footer {
  background: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #345b8b 80%);
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.under-game-footer:hover {
  background: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #4b78ad 80%);
}

.under-game-footer p {
  color: #acdbf5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 0 9px;
  line-height: 17px;
  background-color: rgba(20,31,44,0.4);
  border-radius: 1px;
}

/* UPDATES */
.updates-offers {
  font-family: "Open sans", sans-serif;
}

.updates-offers img {
  max-width: 100%;
  max-height: 100%;
}

.updates-offers h3 {
  font-size: 14px;
  margin-bottom: .5rem;
  color: #ffffff;
  letter-spacing: .03em;
}

.update-game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .5rem;
}

#update-grid-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.update-game {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.update-game-footer {
  background: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #345b8b 80%);
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.update-game-footer p {
  color: #acdbf5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 0 9px;
  line-height: 17px;
}


/* LookingFor */
.looking-for-container {
  padding: 1.5rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  font-family: "Open sans", sans-serif;
}

.looking-for-container h1 {
  color: #67c1f5;
  font-size: 24px;
}

.looking-for-container p {
  font-size: 15px;
  color: #8f98a0;
  font-weight: bold;
}

.looking-for-container a {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}

.looking-for-container a:hover {
  color: #67c1f5;
}

.looking-for-container button {
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
  border-radius: 3px;
  background: linear-gradient( to bottom, #799905 5%, #536904 95%);
  color: #d2e885;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.looking-for-container button:hover {
  background: linear-gradient(to bottom, #a1bf07 5%, #80a006 95%);
}

/* Footer */
.company-info-container {
  padding: 2rem 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.company-info-container h1 {
  color: #171a21;
  background-color: #8F98A0;
  letter-spacing: .2rem;
  height: 25px;
  font-size: 1.1rem;
  cursor: pointer;
}

.footer-logo {
  color: #8F98A0;
  font-size: .6rem;
  position: relative;
}

.myst-tag {
  position: absolute;
  top: 0;
  left: 2.6rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.company-info-container p {
  color: #8F98A0;
}

.company-info-container a {
  color: #C6D4DF;
  text-decoration: none;
}

.company-info-container a:hover {
  color: #ffffff;
}

.company-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid #363c44;
  border-bottom: 1px solid #363c44;
}

.company-info-block {
  display: flex;
  flex-direction: column;
  line-height: 16px;
  gap: .1rem
}

.company-info-bottom {
  display: flex;
}

.company-info-bottom ul {
  display: flex;
  gap: .5rem;
}

.footer-nav {
  padding: .5rem 0;
}

.footer-nav ul {
  display: flex;
  font-family: "Open sans", sans-serif;
  font-size: 13px;
  gap: .5rem;
}

.footer-nav ul a {
  font-weight: bold;
}

.footer-icon {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-twitter-square {
  color: #1DA1F2;
}