* {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  width: 90%;
  margin: 0 auto;
  
}

header {
  background-color: #171a21;
  color: #b8b6b4;
}